html {
    height: 100%;
	width: 100%;
}

@font-face {
    font-family: a; /*a name to be used later*/
    src: url('../fonts/Monoton.ttf'); /*URL to font*/
}
.navbar {
    margin-bottom: 0;
	border-radius: 0;
}

#container {
	float: left;
    height: 94.25%;
	width: 100%;
	position: absolute;
}

#slideshow {
	
    height:100%;
    width: 100%;
	background-size: 100% 100%;
    background-repeat: no-repeat;
	position: absolute;
}

#player_container {
	padding-left: 20px;
	width: 100%;
	height:100%;
	position: absolute;
}

h1{
	color: white;
	font-size: 500%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: a;
	
}

#player{
	width: 50%;
	padding-left: 5%;
}