p {
    color: black;
}


h1{
	color: black;
	font-family: a;
	
}


#profile{
	float: left;
	text-align: center;
	border-style: solid;
    border-width: medium;
	width: 30%;
	height: 100%;
	border-color: blue;
}

#name{
	position: center;
}

#social{
	padding-top: 20px;
	padding-bottom: 20px;
	position: bottom;
	border-style: solid;
    border-width: medium;
	height: auto;
	border-color: red;
	text-align: justify;
}

#social > div {
    width: 25px; /* Declare your value. Can be in relative units. */
    display: inline-block;
    vertical-align: top;
}
#social:after {
    content: "";
    width: 100%;
    display: inline-block;
}

#about{
	float: left;
	text-align: center;
	border-style: solid;
    border-width: medium;
	width: 70%;
	height: 100%;
	background-color: #C8C8C8;
}
