p {
    color: black;
}


h1{
	color: black;
	font-family: a;
	
}

#profile_container{
	width: 100%;
	height: 100%;
	background-color: #red;
}

#profile{
	float: left;
	text-align: center;
	width: 30%;
	height: 100%;
	background-color: #FFFFFF;
}

#name{
	position: center;
}

#social{
	position: bottom;
	height: auto;
	text-align: center;
	margin: 25px;
}



#about_container{
	float: left;
	text-align: center;
	vertical-align: center;
	width: 70%;
	height: 100%;
	background-color: #C8C8C8;
}

#about{
	margin: 2%;
	width: 100%;
	height: 100%;
	
}

p{
	margin: 2%;
}
