p {
    color: blue;
}


h1{
	color: red;
	font-size: 500%;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	font-family: a;
	
}

#profile{
	border-style: solid;
    border-width: medium;
}