#info {
   height: 100%;
   overflow: scroll;
   
}

#contact {
    margin-left: 20%;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 110%;
}

vr {
    display: block;
    width:10px;
    background-color:#0af;
    position:absolute;
    top:0;
    bottom:0;
    left:150px;
}

