
.body-header{
	text-align: center;
	font-family: Garamond;
	
	font-size: 400%;
	font-weight: 900;
	color: #ffffff;
	background-color: #1d77ff;
	margin: 0%;
	
}

p{
	text-align: center;
	font-size: 200%;
	color: #0066ff;
}


.product-list{
	height: 200px;
	width: 30%;
	margin: 5px;
	float: left;
}

.product-list p{
	text-align: left;
	padding-left: 5%;
}

.product-list ul li{
	font-size: 125%;
	color: #0066ff;
	
}

#hello{
	height:400px;
}
