.header-photo{
	
	width: auto%;
	height: 20%;
	padding: 2%;
	display: block;
    margin-left: auto;
    margin-right: auto;
	background-color: #1d77ff;
}

.header-photo img{

   height: 100%;
   width: 100%;
	
}

.img-circle{
	height: 80%;
   width: 80%;
	padding-bottom: 5%;
}




.product-services h1{
	padding-left: 5%;
	color: #1d77ff;
	margin: 1%;
}


.row{
	margin: 0%;
	padding-top: 5%;
	padding-left: 0%;
	padding-right: 0%;
	background-color: #1d77ff;
	height: 800px;
}

p{
	text-align: center;
	font-size:200%;
	color: white;
}



.col-xs-4 ul{
	margin-top: 2%;
	margin-left: auto;
    margin-right: auto;
	font-size:150%;
	color: white;
}

.col-xs-4 ul li{
	margin-left: 25%;
	
}
